html {
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
    font-weight: bold;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h4 {
    font-weight: bold;
}

.jumbotron {
    padding-top: 5rem;
}

span {
    color: lightgreen;
    font-style: italic;
}

section {
    padding-top: 5rem;
}